.individualBottle {
  border: 1px solid blueviolet;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
}

.bottleImg {
  width: 50%;
  border-radius: 20px;
}

.bottles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.purchaseBtn {
  border: 1px solid tomato;
}
